@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/Content/Menus.css")
}

<div class="row">
    <div class="col-md-2 divMenu">
        <a href="/Categorias/Index" class="linkMenu">
            <img src="~/Content/Imagens/Categoria.png" class="img-responsive imgLogoMenu" alt="Categorias" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Categorias</span>
            </label>
        </a>
    </div>
    <div class="col-md-2 divMenu">
        <a href="/Mesas/Index" class="linkMenu">
            <img src="~/Content/Imagens/Mesa.png" class="img-responsive imgLogoMenu" alt="Mesas" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Mesas</span>
            </label>
        </a>
    </div>
    <div class="col-md-2 divMenu">
        <a href="/Menu/Index" class="linkMenu">
            <img src="~/Content/Imagens/Menu.png" class="img-responsive imgLogoMenu" alt="Menu" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Menu</span>
            </label>
        </a>
    </div>
    <div class="col-md-2 divMenu">
        <a href="/Opcoes/Index" class="linkMenu">
            <img src="~/Content/Imagens/Opcao.png" class="img-responsive imgLogoMenu" alt="Opções" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Opções</span>
            </label>
        </a>
    </div>
    <div class="col-md-2 divMenu">
        <a href="/Pedidos/Index" class="linkMenu">
            <img src="~/Content/Imagens/Pedido.png" class="img-responsive imgLogoMenu" alt="Pedidos" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Pedidos</span>
            </label>
        </a>
    </div>
    <div class="col-md-2 divMenu">
        <a href="/Pratos/Index" class="linkMenu">
            <img src="~/Content/Imagens/Prato.png" class="img-responsive imgLogoMenu" alt="Pratos" />
            <label class="labelMenu">
                <span class="btn-link spanMenu">Pratos</span>
            </label>
        </a>
    </div>
</div>