<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.MockingKernel" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.MockingKernel.NSubstitute" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.Web.Common.WebHost" version="3.2.0.0" targetFramework="net451" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="TestFramework.NUnit.Ninject.NSubstitute" version="1.0.0" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net451" />
</packages>